/* COLORS */

.cl-d-green{
    background-color: #184b41 !important;
}
.cl-m-green{
    background-color: #4e7854 !important;
}
.cl-l-green{
    background-color: #9cca8e !important;
}
.white-text { 
    color: white !important;
}
.bg {
    background-image: url("../assets/images/green logo-07.png");
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position-x: -15vw;
    background-position-y: -10vw;
    background-size: 70%;    
}
.img1 { 
    background-image: url("../assets/images/home\ page\ 1.jpg"); 
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: left;
}
.content-box{ 
    clip-path: polygon(20vw 0, 100% 0, 100% 100%, 0% 100%);
}
.content-box-2{ 
    clip-path: polygon(0 0, 45vw 0, 100% 100%, 0 100%);
    margin-left: -2vw;
}
.img2 { 
    background-image: url("../assets/images/home\ page\ 2.jpg"); 
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: right;
}
.img3 { 
    background-image: url("../assets/images/home\ page\ 3.jpg"); 
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: left;
}
.img4 { 
    background-image: url("../assets/images/home\ page\ 4.jpg"); 
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: right;
}
.img5 { 
    background-image: url("../assets/images/home\ page\ 5.jpg"); 
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: left;
}

.footer-img {
    background-image: url("https://via.placeholder.com/150");

}